body {
    background-image: url(https://media.wired.com/photos/627b0c1fb6048c47d506c6c0/master/pass/Backrooms-Games.jpg);
}





h1 {
    color: navy;
    text-align: navy;
}

p {
    font-family: verdana;
    font-size: 24px;
}

p {
    color: red;

}